[submodule "vim/bundle/vimtex"]
	path = vim/pack/languages/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/bundle/vim-go"]
	path = vim/pack/languages/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/pack/misc/start/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/pack/git/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/pack/git/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/pack/misc/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/pack/languages/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/vim-highlightedyank"]
	path = vim/pack/appearance/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "vim/bundle/indentLine"]
	path = vim/pack/appearance/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/tagbar"]
	path = vim/pack/tags/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-gutentags"]
	path = vim/pack/tags/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/pack/misc/start/vim-surround"]
	path = vim/pack/misc/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/appearance/start/dracula"]
	path = vim/pack/appearance/start/dracula
	url = git@github.com:dracula/vim.git
